[Unit]
Description=Run hokuto bump every 10 minutes

[Timer]
# Run 1 minute after login/boot to get the first one out of the way
OnBootSec=1min

# Run 10 minutes after the PREVIOUS instance FINISHES
OnUnitInactiveSec=10min

# Ensures it doesn't try to "catch up" if the computer was asleep
Persistent=true

[Install]
WantedBy=timers.target
