[Unit]
Description=Update Cloudflare Dynamic DNS
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cloudflare-dyndns
User=root
