[Desktop Entry]
Name=Visual Studio Code
Comment=Programming Text Editor
Exec=/opt/vscode/bin/code
Icon=/opt/vscode/resources/app/resources/linux/code.png
Terminal=false
Type=Application
Categories=Programming;
